* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}


body{
  .gridConteinerIndex{
    display:grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-rows: 200px 1000px 50px;
    gap: 5px;  
    align-items: center;
  }
   header{
    nav{
        .bg-color-propio{
            background-color:white;
        }
        .nav-item a{
            font-size:xx-large;
            color:black;
        }
        .navbar-nav .nav-item a:hover{
            color:#2C8AA0;
            font-weight: bold;
        }
    }
  }


.MainInicio{
    p{
    min-height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-left: 5px;
    font-size: 70px;
    color:black;
    font-weight: bold;
    animation-name: aparecer;
    animation-duration: 7s;
    animation-iteration-count:infinite
   }
 @keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
 }

 #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#CE5C16;
    height: 80px;
    margin-top: 10px;
   }

   a {
    margin-left: 10px;
    margin-right: 10px;
    }
}

@media(max-width:768px){
    .MainInicio{
        p{
        min-height: 100px;
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
        font-size: 5vh;
        color:black;
        font-weight: bold;
    }
    }
}

